.must_register
  = form_for(:user, :url => registration_path(:user)) do |f|
    %h3 Please Register
    %p Your lesson will not be saved until you register an account.
    %table.registration_fields
      %tr
        %td
          = f.label :name, "Your Name:"
          = f.text_field :name
        %td
          = f.label :nickname, "Optional Nickname:"
          = f.text_field :nickname
        %td
          = f.label :email, "Your Email:"
          = f.email_field :email
      %tr
        %td
          = f.label :password
          = f.password_field :password
        %td
          = f.label :password_confirmation
          = f.password_field :password_confirmation
        %td
          = f.submit "Sign up"

