= form_for(@video, :url => (@video.new_record? ? lesson_videos_path(@lesson) : lesson_video_path(@lesson, @video)), :method => (@video.new_record? ? :post : :put)) do |f|
  - if @video.errors.any?
    #error_explanation
      %h2
        = pluralize(@video.errors.count, "error")
        prohibited this video from being saved:
      %ul
        - @video.errors.full_messages.each do |msg|
          %li= msg

  .field
    %p
      = f.label :title, "Title of your video:"
      = f.text_field :title

  .field
    %p
      = f.label :caption, "The caption for your video:"
      %br
      = f.text_area :caption

  %p You'll be able to upload your video on the next page. 

  .actions
    = f.submit "Save Video Information"
