.why
  %h4 Why Should I Create A Lesson?
  No matter how experienced you are in a subject or skill,
  you can create a lesson.
  %p You'll:
  %ul.small
    %li Reinforce your own learning by trying to teach it.
    %li Make it easier for someone at a similar level to learn it.
    %li
      Build up a collection of lessons you created that you can refer back
      to, use on a college application, or when trying to get a job. 
  %p= link_to("Create a lesson", new_lesson_path)

.example_lessons
  %p
    %b Algrebra 1:
    Solving a Simple Equation
  %p
    Created by:
    = "#{link_to("Sarah Jane", "")}, ".html_safe
    = link_to("Envision Academy", "")
  %p
    Confidence Level:
    = Lesson::CONFIDENCE_SCORES[3][0]

  %iframe{:width => "560", :height => "315", :src => "http://www.youtube.com/embed/9Ek61w1LxSc", :frameborder => "0", :allowfullscreen => "allowfullscreen"}

.explore
  %h2 Explore Tips / Lessons
  %table
    %tr
      %td
        %h4 Browse Subjects
        %ul.small
          %li
            = link_to("K - 12", "")
            &nbsp;->&nbsp;
            = "#{link_to("Math", "")}, ".html_safe
            = "#{link_to("English", "")}, ".html_safe
            = link_to("more...", "")
          %li
            = link_to("College", "")
            &nbsp;->&nbsp;
            Coming soon...
          %li
            = link_to("Grad School", "")
            &nbsp;->&nbsp;
            Coming soon...
          %li
            = link_to("Professional", "")
            &nbsp;->&nbsp;
            Coming soon...
          %li
            = link_to("Life", "")
            &nbsp;->&nbsp;
            Coming soon...

      %td
        %h4 Popular Tips / Lessons

      %td
        %h4 Recent Tips / Lessons
