.for_who
  .section.tip
    %h2
      For Teachers
      %a.toggle_tip.small Learn more >
    .tip_text{:style => "display: none;"}
      %p.small Every time your students learn something have them try to teach it to someone else.
      %p.small The transition from "learning" to "teaching" can dramatically impact their learning and engagement.
      %p.small= link_to("Read more >", for_teachers_about_index_path)
  .section.tip
    %h2
      For Students
      %a.toggle_tip.small Learn more >
    .tip_text{:style => "display: none;"}
      %p.small Can you find a way to make what you're learning easier / more fun for someone else to learn?
      %p.small Just pretend you're helping your younger sibling learn something. How would you do it?
      %p.small= link_to("Read more >", for_students_about_index_path)
  .section.tip.last
    %h2
      For Everyone
      %a.toggle_tip.small Learn more >
    .tip_text{:style => "display: none;"}
      %p.small Did you learn something new today? Create a lesson and make it easier for everyone else.
      %p.small Or learn something new through the lessons other people have created on this site.
      %p.small= link_to("Read more >", for_everyone_about_index_path)

.separator
  
%ol.site_instructions
  %li Learn something.
  %li Pay attention to what you find confusing.
  %li Come up with a way to make it less confusing / more fun for the next person.
  %li It can be a blog post, video, dance, song, smoke signal, what ever.
  %li= link_to("Create a lesson and make it a little easier for the next person >", new_lesson_path)

.separator
  
.why
  %h4 Why Should I Create A Lesson?
  No matter how experienced you are in a subject or skill,
  you can create a lesson.
  %br
  %br
  %ul.small
    %li There's no better way to learn something then to try and figure out how to teach it.
    %li You'll make it easier for someone at a similar level to learn it.
    %li You'll create a collection of lessons you can refer back to later on.
  %p= link_to("Create a lesson >", new_lesson_path)

.example_lessons
  - examples = [18,19]
  - example = Lesson.includes(:user, :videos).find(params[:example_id] || examples.shuffle.pop)
  %p
    %b= "#{example.subject} > #{example.specific_subject} >"
    = link_to(example.title, lesson_path(example))
  %p
    Created by:
    = "#{link_to(example.user.display_name, profile_path(example.user))}, ".html_safe
    9th Grade, Envision Academy, Oakland, CA
  %p
    Confidence Level:
    = example.confidence_text

  %iframe{:width => "560", :height => "315", :src => "http://www.youtube.com/embed/#{example.videos.first.youtube_id}", :frameborder => "0", :allowfullscreen => "allowfullscreen"}

  %p
    %b Other Examples:
    = examples.collect { |id| link_to_unless(example.id == id, examples.index(id) + 1, params.merge(:example_id => id)) }.join(", ").html_safe

.explore
  %h3 Recent Lessons
  %table
    %tr
      %td
        %ul.small
          - @lessons[0..4].each do |lesson|
            %li
              = lesson.subject
              - unless lesson.specific_subject.blank?
                \>
                = lesson.specific_subject
              \>
              = link_to(lesson.title, lesson_path(lesson))
              .really_small
                \- by
                = link_to_unless(lesson.user.nil?, lesson_owner(lesson), profile_path(lesson.user))
          %li= link_to("View all lessons >", lessons_path)

      -#
        %td
          %h4 Browse Subjects
          %ul.small
            %li
              = link_to("K - 12", "")
              &nbsp;->&nbsp;
              = "#{link_to("Math", "")}, ".html_safe
              = "#{link_to("English", "")}, ".html_safe
              = link_to("more...", "")
            %li
              = link_to("College", "")
              &nbsp;->&nbsp;
              Coming soon...
            %li
              = link_to("Grad School", "")
              &nbsp;->&nbsp;
              Coming soon...
            %li
              = link_to("Professional", "")
              &nbsp;->&nbsp;
              Coming soon...
            %li
              = link_to("Life", "")
              &nbsp;->&nbsp;
              Coming soon...
        %td
          %h4 Popular Tips / Lessons
        %td
          %h4 Recent Tips / Lessons
