= form_for(@lesson) do |f|
  - if @lesson.errors.any?
    #error_explanation
      %h2
        = pluralize(@lesson.errors.count, "error")
        prohibited this lesson from being saved:
      %ul
        - @lesson.errors.full_messages.each do |msg|
          %li= msg

  - if @lesson.subject.blank? || params.include?(:edit_subject)
    .right.example_lesson_info
      %h3 Example Subjects / Skills
      %p You can try to teach any subject or skill.
      %p Some examples:
      .right{:style => "margin-right: 30px;"}
        %h4 Specific Subjects
        %ul
          %li Algebra
          %li Frying an egg
          %li Hitting a baseball
          %li Grammar
          %li Salsa dancing
          %li Speed reading
          %li Chemistry
          %li etc

      %h4 General Subjects
      %ul
        %li Math
        %li Cooking
        %li Baseball
        %li English
        %li Dancing
        %li Reading
        %li Science
        %li etc

    .field
      %h3 Step 1 (of 4): Lesson Subject
      %p
        = f.label :subject, "What subject or skill are you trying to learn / teach?"
        %br
        %span.small (don't worry too much about this, just try to fill them in)
      %p
        = f.label :subject, "General Subject:"
        = f.text_field :subject, "data-hint" => 'e.g. "Math" or "Cooking"'
      %p
        = f.label :specific_subject, "Specific Subject:"
        = f.text_field :specific_subject, "data-hint" => 'e.g. "Algebra" or "Frying An Egg"'

  - elsif @lesson.confidence_score.blank? || params.include?(:edit_confidence)
    .right.example_lesson_info
      %h3 Confidence Level
      %p
        It doesn't matter if you're a complete novice at
        = "\"#{(@lesson.specific_subject || @lesson.subject).downcase}\""
        or an expert.
      %p.small (we actually prefer to get lessons from people who are just starting out, but we appreciate experts as well)
      %p Just try to be honest about your skill level so others will know what to expect. 

    .field
      %h3 Step 2 (of 4): Confidence Level
      %p= f.label :confidence_score, "How confident are you at this subject / skill?"
      %p= f.select :confidence_score, Lesson::CONFIDENCE_SCORES

  - elsif @lesson.title.blank? || params.include?(:edit_title)
    .right.example_lesson_info
      %h3 Lesson Title
      %p It's best to create lessons that are short.
      %p Try to break down your subject in to pieces so that you can teach them in smaller lessons.
      %p Some examples:
      %ul
        %li
          %p
            Math: Algebra
            %br
            Title:
            %b Solving a simple equation
        %li
          %p
            Cooking: Frying an egg
            %br
            Title:
            %b How to flip the egg
        %li
          %p
            English: Grammar
            %br
            Title:
            %b How to use commas
        %li
          %p
            Golf: Striking The Ball
            %br
            Title:
            %b How to put backspin on the ball

    .field
      %h3 Step 3 (of 4): Lesson Title
      %p= f.label :title, "What do you want to title your lesson?"
      %p
        = f.label :title, "Title:"
        = f.text_field :title, "data-hint" => 'e.g. "How to flip the egg"'
      
  - else
    .right
      .photos_and_videos_preview
        .section
          %h3 Videos
          - if @lesson.videos.empty?
            %p.small You haven't yet added any videos to your lesson.
          - @lesson.videos.each do |video|
            .video_thumbnail
              = link_to(image_tag("http://img.youtube.com/vi/#{video.youtube_id}/default.jpg"), lesson_video_path(@lesson, video), :class => "lightbox")
              = link_to(video.title, lesson_video_path(@lesson, video), :class => "lightbox")
              .small= simple_format(truncate(video.caption, :length => 90))
              .links.small.clear.right
                = link_to("delete", lesson_video_path(@lesson, video), :method => :delete, :confirm => "Are you sure you want to delete this video?")
          = link_to("Add a video to your lesson", new_lesson_video_path(@lesson), :class => "lightbox")

        .section
          %h3 Photos / Images / Drawings
          - if @lesson.photos.empty?
            %p.small You haven't yet added any photos/images/drawings to your lesson.
          - @lesson.photos.each do |photo|
            .photo_thumbnail
              = link_to(image_tag(photo.image.url(:small)), photo.image.url(:large), :class => "lightbox")
              = link_to(photo.title, photo.image.url(:large), :class => "lightbox")
              .small= simple_format(truncate(photo.caption, :length => 90))
              .links.small.clear.right
                = link_to("delete", lesson_photo_path(@lesson, photo), :method => :delete, :confirm => "Are you sure you want to delete this photo/image/drawing?")

          = link_to("Add a photo/image/drawing to your lesson", new_lesson_photo_path(@lesson), :class => "lightbox")

        .section
          %h3 Reference Material
          - if @lesson.references.empty?
            .small
              %p You haven't yet added any reference material for your lesson.
              %p What reference material did you find helpful when you were learning what you are now teaching?
          - else
            %ul
              - @lesson.references.each do |reference|
                %li.reference
                  = link_to(reference.title, reference.url, :target => "_blank")
                  .small= simple_format(truncate(reference.comment, :length => 90))
          %p= link_to("Add reference material for your lesson", new_lesson_reference_path(@lesson), :class => "lightbox")

    .field
      %h3 Last Step: Your Lesson
      .small Even if you're doing a video, please write out as much of your lesson as possible.
      %p.small It's easier for people to search text than to scan/search through a video.  
      = f.text_area :body

    .add
      %p= link_to("Add a video to your lesson", new_lesson_video_path(@lesson), :class => "lightbox")
      %p= link_to("Add a photo/image/drawing to your lesson", new_lesson_photo_path(@lesson), :class => "lightbox")
      %p= link_to("Add reference material for your lesson", new_lesson_reference_path(@lesson), :class => "lightbox")


  .actions
    %p= f.submit "Save And Continue"
    - unless @lesson.new_record?
      %p.small
        You can change any of this information at any time.
        %br
        To change it now just click on the information above.

= render "devise/registrations/short_form" if current_user.nil?
