= form_for(@lesson) do |f|
  - if @lesson.errors.any?
    #error_explanation
      %h2
        = pluralize(@lesson.errors.count, "error")
        prohibited this lesson from being saved:
      %ul
        - @lesson.errors.full_messages.each do |msg|
          %li= msg
  .field
    %p= f.label :subject, "What subject or skill are you trying to learn?"
    = f.label :subject, "Subject:"
    = f.text_field :subject
  .field
    %p= f.label :title, "What is the title of your tip / lesson?"    
    = f.label :title, "Title:"
    = f.text_field :title
  .field
    %p= f.label :confidence_score, "How confident are you at this subject / skill?"
    = f.select :confidence_score, Lesson::CONFIDENCE_SCORES
  .field
    %p= f.label :body, "Your Tip / Lesson:"
    = f.text_area :body
  .actions
    = f.submit
