- return if @lesson.title.blank?

%p
  %b General Subject:
  = @lesson.subject
%p
  %b Specific Subject:
  = @lesson.specific_subject

%p
  %b Lesson Title:
  = @lesson.title

%p
  %b Confidence Level:
  = @lesson.confidence_text

%p.small
  = link_to "Edit this information >", edit_lesson_path(@lesson, :edit_title => 1)

%br
