- if @lesson.title.present?
  = render "devise/registrations/short_form" if current_user.nil?

  .right.text_right
    %p
      %b Lesson Status:
      = @lesson.published_at.nil? ? "Not Published" : "Published"
    %p= link_to("View lesson >", lesson_path(@lesson))

= render "lessons/lesson_header"

.clear

= render 'form'
