- @title = "Editing #{@lesson.title} - #{@lesson.subject} > #{@lesson.specific_subject}"

- if @lesson.title.present?
  = render "devise/registrations/short_form" if current_user.nil?

  .right.text_right
    = render "lessons/status"
    %p= link_to("View lesson >", lesson_path(@lesson)) if @lesson.body.present?

= render "lessons/lesson_header"

.clear

= render 'form'
