.right.explanation_box
  %h3 In Progress
  %p We are working on more ways to explore and discover new lessons.
  %p For the time being, though, here's a list of all lessons.

%h2 All lessons

%ul
  - @lessons.each do |lesson|
    %li
      = lesson.subject
      - unless lesson.specific_subject.blank?
        \>
        = lesson.specific_subject
      = link_to(lesson.title, lesson_path(lesson))
      .small
        \- by
        = link_to(lesson_owner(lesson), profile_path(lesson.user))

%br
%p= link_to 'Create a new lesson >', new_lesson_path
