%h1 Listing lessons
%table
  %tr
    %th User
    %th Title
    %th Body
    %th Confidence score
    %th
    %th
    %th
  - @lessons.each do |lesson|
    %tr
      %td= lesson.user_id
      %td= lesson.title
      %td= lesson.body
      %td= lesson.confidence_score
      %td= link_to 'Show', lesson
      %td= link_to 'Edit', edit_lesson_path(lesson)
      %td= link_to 'Destroy', lesson, :confirm => 'Are you sure?', :method => :delete
%br
= link_to 'New Lesson', new_lesson_path
