%p#notice= notice
%p
  %b User:
  = @lesson.user_id
%p
  %b Title:
  = @lesson.title
%p
  %b Body:
  = simple_format(@lesson.body)
%p
  %b Confidence score:
  = @lesson.confidence_score
= link_to 'Edit', edit_lesson_path(@lesson)
|
#{link_to 'Back', lessons_path}
