%p#notice= notice

%p
  = @lesson.subject
  - if @lesson.specific_subject.present?
    \>
    = @lesson.specific_subject

.lesson
  %h2= @lesson.title

  .lesson_info
    %b Created by:
    %span.normal= lesson_owner(@lesson)

    %br

    %b
      = "#{lesson_owner(@lesson)}'s"
      confidence with
      = "#{(@lesson.specific_subject || @lesson.subject).downcase}:"
    = @lesson.confidence_text

  .photos_and_videos.right
    - unless @lesson.videos.empty?
      - @lesson.videos.each do |video|
        .video
          %h4
            = video.title
            %span.small= link_to("View larger video >", lesson_video_path(@lesson, video), :class => "lightbox")
          = render "videos/video", :video => video, :size => :medium
          .small= simple_format(video.caption)

    - unless @lesson.photos.empty?
      - @lesson.photos.each do |photo|
        .photo
          %h4= photo.title
          = link_to(image_tag(photo.image.url), photo.image.url(:large))
          .small= simple_format(photo.caption)

  %h4 Lesson:
  = simple_format(@lesson.body)
  %p= link_to('Edit lesson >', edit_lesson_path(@lesson)) if lesson_owner?(@lesson)

