%p#notice= notice

%h2= @lesson.full_title
%p
  Created by:
  = @lesson.user.display_name
%p
  = "#{@lesson.user.display_name}'s"
  confidence with
  = "#{@lesson.subject.downcase}:"
  %br
  = @lesson.confidence_text

= simple_format(@lesson.body)

= link_to 'Edit', edit_lesson_path(@lesson)
|
#{link_to 'Back', lessons_path}
