= form_for(@resource, :url => lesson_resources_path(@lesson)) do |f|
  - if @resource.errors.any?
    #error_explanation
      %h2
        = pluralize(@resource.errors.count, "error")
        prohibited this resource from being saved:
      %ul
        - @resource.errors.full_messages.each do |msg|
          %li= msg
  .field
    %p
      = f.label :title, "Title / name of the resource:"
      %br
      = f.text_field :title
  .field
    %p
      = f.label :url, "Where can you find this resource?"
      %br
      = f.text_field :url
  .field
    %p
      = f.label :comment
      %br/
      = f.text_area :comment
  .actions
    %p= f.submit
