= form_for(@photo, :url => lesson_photos_path(@lesson), :html => {:multipart => true}) do |f|
  - if @photo.errors.any?
    #error_explanation
      %h3
        = pluralize(@photo.errors.count, "error")
        prohibited this photo from being saved:
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg

  .field
    %p
      = f.label :title
      = f.text_field :title
  .field
    %p
      = f.label :image
      = f.file_field :image
  .field
    %p
      = f.label :caption
      = f.text_area :caption
  .field
    %p= f.submit "Add Photo"

