- @title = "Strategies For Using Upside Down Academy In Your Classroom"

%h2 Strategies For Using Upside Down Academy In Your Classroom

%p At it's heart Upside Down Academy is about having students help each other.

%p
  Upside Down Academy was built to make it easier for students to work together
  and teach each other, lessening the load on the teacher, fostering a more collaborative
  and supportive environment, and giving students more responsibility over their
  own education.

%p Here are some tips and tricks for using Upside Down Academy in your classroom.

%ol.strategies_list
  %li
    .strategy
      .header
        Quick Start Guide
      %p Here is a simple guide to using Upside Down Academy in your classroom.
      %p= link_to("Quick Start Guide >", "http://upsidedownacademy.org/lessons/28_upside-down-academy_strategies-for-using-this-site_quick-start-guide")

  %li
    .strategy
      .header
        Set The Stage Early
      %p Giving students some tips about how to think about teaching can be helpful.
      %p= link_to("Set The Stage Early >", "http://upsidedownacademy.org/lessons/24_upside-down-academy_strategies-for-using-this-site_set-the-stage-early")

  %li
    .strategy
      .header
        Keep It Simple
      %p Simple lessons can be very effective and don't take as much time and effort.
      %p= link_to("Keep It Simple >", "http://upsidedownacademy.org/lessons/26_upside-down-academy_strategies-for-using-this-site_keep-it-simple")

  %li
    .strategy
      .header
        Create Lessons Frequently
      %p Practice makes perfect. Having students create more than one lesson can be very beneficial.
      %p= link_to("Create Lessons Frequently >", "http://upsidedownacademy.org/lessons/25_upside-down-academy_strategies-for-using-this-site_do-frequent-lessons")

  %li
    .strategy
      .header
        Give The Lessons Specific Purpose
      %p Giving the students a sense of purpose in creating their lessons can benefit their motivation.
      %p= link_to("Give The Lessons Specific Purpose >", "http://upsidedownacademy.org/lessons/27_upside-down-academy_strategies-for-using-this-site_give-the-lessons-specific-purpose")

  %li
    .strategy
      .header
        Individuals vs. Groups Creating Lessons
      %p There are benefits to having students create lessons as a group or as individuals.
      %p= link_to("Individual vs. Group Lessons >", "http://upsidedownacademy.org/lessons/29_upside-down-academy_strategies-for-using-this-site_individual-group-lessons")

%br

%p If you have any other strategies, please let us know!
