- @title = "Strategies For Using Upside Down Academy In Your Classroom"

%h2 Strategies For Using Upside Down Academy In Your Classroom

%p Here are some tips and tricks for using Upside Down Academy in your classroom.

%ol.strategies_list
  %li
    .strategy
      .header
        Quick Start Guide
      %p Here is a simple guide to using Upside Down Academy in your classroom.
      %p= link_to("Quick Start Guide >", "http://upsidedownacademy.org/lessons/28_upside-down-academy_strategies-for-using-this-site_quick-start-guide")

  %li
    .strategy
      .header
        Set The Stage Early
      %p Giving students some tips about how to think about teaching can be helpful.
      %p= link_to("Set The Stage Early >", "http://upsidedownacademy.org/lessons/24_upside-down-academy_strategies-for-using-this-site_set-the-stage-early")

  %li
    .strategy
      .header
        Keep It Simple
      %p Simple lessons can be very effective and don't take as much time and effort.
      %p= link_to("Keep It Simple >", "http://upsidedownacademy.org/lessons/26_upside-down-academy_strategies-for-using-this-site_keep-it-simple")

  %li
    .strategy
      .header
        Do Frequent Lessons
      %p Practice makes perfect. Having students create more than one lesson can be very beneficial.
      %p= link_to("Do Frequent Lessons >", "http://upsidedownacademy.org/lessons/25_upside-down-academy_strategies-for-using-this-site_do-frequent-lessons")

  %li
    .strategy
      .header
        Give The Lessons Specific Purpose
      %p Giving the students a sense of purpose in creating their lessons can benefit their motivation.
      %p= link_to("Do Frequent Lessons >", "http://upsidedownacademy.org/lessons/27_upside-down-academy_strategies-for-using-this-site_give-the-lessons-specific-purpose")

%br

%p If you have any other strategies, please let us know!
