#footer
  .footer_section
    = link_to("Popular Lessons", "")
    = link_to("All Lessons", "")
    = link_to("All Subjects", "")

  .footer_section
    = link_to("For Schools/Teachers", "")
    = link_to("For Home Schoolers", "")
    = link_to("For Students", "")
    = link_to("For Everyone", "")

  .footer_section.last_section
    = link_to("About", about_index_path)
    = link_to("Contact", contact_about_index_path)
    = link_to("Press", "")
    = link_to("Donate", "")

