#header
  #header_content
    #logo
      = link_to(image_tag("flag_logo.png"), root_path)

    #basic_navigation
      - if user_signed_in?
        .basic_nav= link_to("Log Out", destroy_user_session_path, :method => :delete)
        .basic_nav= link_to("My Account", edit_user_registration_path)
        .basic_nav.first_nav= link_to("My Lessons", lessons_my_index_path)
      - else
        .basic_nav= link_to("Log In", new_user_session_path)
        .basic_nav.first_nav= link_to("Register", new_user_registration_path)

      #site_quote{:style => "margin-right: #{user_signed_in? ? 90 : 142}px;"}
        "The best way to learn is to try and teach."

