#header
  #logo
    %h1
      = link_to("<span class='upside_down'>∩</span>pside Down <span class='upside_down'>∀</span>cademy".html_safe, root_path)

    %h2= link_to("Where the students do the teaching", root_path)

  #basic_navigation
    %p "The best way to learn is to try and teach."
    %p
      - if user_signed_in?
        = link_to("My Stuff", "")
        &nbsp; | &nbsp;
        = link_to("Log Out", destroy_user_session_path, :method => :delete)
      - else
        = link_to("Register", new_user_registration_path)
        &nbsp; | &nbsp;
        = link_to("Log In", new_user_session_path)
