!!!
%html
  %head
    %title= [@title, "∩pside Down ∀cademy"].compact.join(" - ")
    %meta{:name => "description", :content => @description || "The best way to learn is to try and teach. The Goal: Make it easier / more fun for the next person to learn what ever you are learning right now."}

    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tag
    = render "layouts/lightbox"
    
  %body
    = render "layouts/header"
    #content_container
      #goal
        %h2 The Goal:
        Make it easier / more fun for the next person to
        learn what ever you are learning right now.

      #content
        - if notice.present?
          #notice= notice

        = yield

        = render "layouts/footer"
